<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Figuring out how things work.">
    <meta name="keywords" content="software engineer, ui engineer, front-end developer">
    <meta name="author" content="Michael Matyus">

    <meta name="format-detection" content="telephone=no">

    <meta property="og:site_name" content="Matyus">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="<%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %>">
    <meta property="og:url" content="<%= data.base.url %>">
    <meta property="og:type" content="<%= current_article.nil? ? "website" : "article" %>">
    <meta property="og:description" content="<%= current_page.data.description unless current_article.nil? %>">
    <meta property="og:image" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="<%= "@#{data.base.twitter}" unless data.base.twitter.nil? %>">
    <meta name="twitter:title" content="<%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %>">
    <meta name="twitter:description" content="<%= current_page.data.description unless current_article.nil? %>">
    <meta name="twitter:url" content="<%= data.base.url %>">
    <meta name="twitter:image" content="">

    <title><%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "base" %>
  </head>
  <body>
    <h1 id="logotype"><a href="/" title="Home"><%= data.base.name %></a></h1>

    <div id="main" class="main" role="main">
      <%= yield %>
    </div>

    <footer role="contentinfo">
      <p><a href="mailto:michael@maty.us">Contact me</a> with any questions or comments.</p>
    </footer>
  </body>
</html>
