<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%= data.base.meta_description %>">
    <meta name="keywords" content="<%= data.base.meta_keywords %>">
    <meta name="author" content="<%= data.base.full_name %>">

    <meta name="format-detection" content="telephone=no">

    <meta property="og:site_name" content="<%= data.base.name %>">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="<%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %>">
    <meta property="og:url" content="<%= data.base.url %>">
    <meta property="og:type" content="<%= current_article.nil? ? "website" : "article" %>">
    <meta property="og:description" content="<%= current_page.data.description unless current_article.nil? %>">
    <meta property="og:image" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="<%= "@#{data.base.twitter}" unless data.base.twitter.nil? %>">
    <meta name="twitter:title" content="<%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %>">
    <meta name="twitter:description" content="<%= current_page.data.description unless current_article.nil? %>">
    <meta name="twitter:url" content="<%= data.base.url %>">
    <meta name="twitter:image" content="">

    <title><%= data.base.name %><%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "syntax" %>
  </head>
  <body>
    <div id="header" role="banner">
      <h1 id="logotype"><% link_to "#{blog.options.prefix.to_s}/", :title => "Home" do %><%= data.base.name %><% end %></h1>
    </div>

    <main id="main" class="main" role="main">
      <%= yield %>
    </main>

    <footer role="contentinfo">
      <%= content_tag(:p,  "Article last modified: %s" % File.mtime(current_article.source_file).strftime("%a %b %e %r %Y")) unless current_article.nil? %>

      <% content_tag :p  do -%>
        <%= mail_to "michael@maty.us", "Contact me" %> with any questions or comments.
      <% end -%>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72105122-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
